html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
    color: #666;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

body>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 3em;
    line-height: 0.88em;
    margin: 0 0.5em 0 0;
}

hr {
    border-top: 1px solid #FF0000;
    text-align: center;
    width: 100%
}

p {
    margin-top: 0;
}

a {
    padding-right: 20px;
}
